body {
}
a {
    text-decoration: none;
}
a:hover {
    color: aqua;
}
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border: 2px solid red;    
}
table th,td {
    border: 2px solid red;
    text-align: center;
    padding: 5px;    
} 

.menu-item {
    display: inline-block;
    width: auto;
    vertical-align: top;
    margin: 10px;       
}
