@model IEnumerable<PhoneBookMVC.Models.Person>
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>PhoneNumber</th>
            <th>Category</th>
            <th></th>
        </tr>
        @foreach (var person in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => person.Name)</td>
                <td>@Html.DisplayFor(modelItem => person.Surname)</td>
                <td>@Html.DisplayFor(modelItem => person.PhoneNumber)</td>
                <td>@Html.DisplayFor(modelItem => person.Category.Name)</td>
                <td>
                    <a href="/Home/Show/@person.Id">
                        <img src="/Content/view-details-xl.png" alt="D" width="15" />
                    </a>
                    <a href="/Home/Edit/@person.Id">
                        <img src="/Content/UserEdit.png" alt="E" width="15" />
                    </a>
                    <a href="/Home/Remove/@person.Id">
                        <img src="/Content/delete.png" alt="R" width="15" />
                    </a>
                </td>
            </tr>
        }
    </table>
</div>